{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [],
  "env": {
    "development": {
      "plugins": [
        [
          "transform-runtime",
          {
            "helpers": false, // defaults to true 
            "polyfill": false, // defaults to true 
            "regenerator": true, // defaults to true 
            "moduleName": "babel-runtime" // defaults to "babel-runtime" 
          }
        ],
        "transform-react-jsx-source",
        "transform-react-jsx-self",
        "react-hot-loader/babel"
      ]
    }
  }
}